
<table border="1">
        <tr>
            <th>Center Id</th>
            <th>Center Name</th>
            <th>Contact Number</th>
            <th>Address</th>
            
        </tr>
        <tr *ngFor="let center of centerList">       
            <td>{{center.centerId}}</td>
            <td>{{center.centerName}}</td>
            <td>{{center.centerContactNo}}</td>
            <td>{{center.centerAddress}}</td>

            <td *ngIf='(centerId==null) else goback'>
                <input type="submit" value="Select" (click)="selectCenter(center)"></td>
            <ng-template #goback><td><input type="submit" value="Change Center" (click)="changeCenter()"></td></ng-template>
        </tr>
    </table> 

    <table border="1" *ngIf='(testList != null)'>
            <tr>
                <th>Test Id</th>
                <th>Test Name</th>
          
            </tr>
            <tr *ngFor="let test of testList">       
                <td>{{test.testId}}</td>
                <td>{{test.testName}}</td>
                <td *ngIf='(testId==null) else goback'>
                        <input type="submit" value="Select" (click)="selectTest(test)"></td>
                    <ng-template #goback><td><input type="submit" value="Change Test" (click)="changeTest()"></td></ng-template>
            </tr>
        </table> 
        
        <ng-template #noTests [ngIf]="(centerId != null) && (testList == null)">Sorry, no tests present in this center</ng-template>
        
        <div *ngIf='(testId!=null)'>
        Select Date and Time:
        <input type="datetime-local" name="dateAndTime" [(ngModel)]="dateAndTime"/>
        Enter your User Id:
        <input type="number" name="userId" [(ngModel)]="userId"/>
        <input type="submit" value="Confirm Appointment" (click)=confirmAppointment()>
        </div>
