<div class="py-md-5 py-4 border-bottom">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
                <a class="navbar-brand" href="userhome">MedHistory<span>Get your tests done at convenience</span></a>
            </div>
            <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
                <div class="icon d-flex justify-content-center align-items-center order-md-last">
                    <span class="icon-map"></span>
                </div>
                <div class="pr-md-4 pl-md-0 pl-3 text">
                    <p class="con"><span>Free Call</span> <span>+1 234 456 78910</span></p>
                    <p class="con">198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
            </div>
            <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
                <div class="icon d-flex justify-content-center align-items-center"><span
                        class="icon-paper-plane"></span></div>
                <div class="text pl-3 pl-md-3">
                    <p class="hr"><span>Open Hours</span></p>
                    <p class="time"><span>Everyday</span> <span>10:00am - 8:00pm</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <!-- <li class="nav-item active"><a href="index.html" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="doctor.html" class="nav-link">Doctor</a></li>
	        	<li class="nav-item"><a href="department.html" class="nav-link">Treatments</a></li>
	        	<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li> -->
                <li class="nav-item"><a href="addappointment" class="nav-link">Add Appointment</a></li>
                <li class="nav-item"><a href="viewappointment" class="nav-link">View Appointments</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<table class="table table-list-search" style='width: 70%; margin: auto;'>
        Select Center: 
    <tr>
        <th>Center Id</th>
        <th>Center Name</th>
        <th>Contact Number</th>
        <th>Address</th>

    </tr>
    <tr *ngFor="let center of centerList | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{center.centerId}}</td>
        <td>{{center.centerName}}</td>
        <td>{{center.centerContactNo}}</td>
        <td>{{center.centerAddress}}</td>

        <td *ngIf='(centerId==null) else goback'>
            <input type="submit" value="Select" (click)="selectCenter(center)"></td>
        <ng-template #goback>
            <td><input type="submit" value="Change Center" (click)="changeCenter()"></td>
        </ng-template>
    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
  
<table class="table table-list-search" style='width: 70%; margin: auto;' *ngIf='(testList != null)'>
        Select the test you want to book an appointment for: 
    <tr>
        <th>Test Id</th>
        <th>Test Name</th>

    </tr>
    <tr *ngFor="let test of testList | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{test.testId}}</td>
        <td>{{test.testName}}</td>
        <td *ngIf='(testId==null) else goback'>
            <input type="submit" value="Select" (click)="selectTest(test)"></td>
        <ng-template #goback>
            <td><input type="submit" value="Change Test" (click)="changeTest()"></td>
        </ng-template>
    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>

<ng-template #noTests [ngIf]="(centerId != null) && (testList == null)">Sorry, no tests present in this center
</ng-template>

<div *ngIf='(testId!=null)'>
    <table>
        <tr>
            <td>Select Date and Time:</td>
            <td><input type="datetime-local" name="dateAndTime" [(ngModel)]="dateAndTime" /></td>
        </tr>
        <tr>
            <td>Enter your User Id:</td>
            <td><input type="text" name="userId" [(ngModel)]="userId" required /></td>
        </tr>
        <td><input type="submit" value="Confirm Appointment" (click)=confirmAppointment()></td>
        <span>{{errorMessage}}</span>
    </table>
</div>