<table border="1">
    <tr>
        <th>Center Id</th>
        <th>Center Name</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th></th>
        
    </tr>
    <tr *ngFor="let center of centerList">       
        <td>{{center.centerId}}</td>
        <td>{{center.centerName}}</td>
        <td>{{center.centerContactNo}}</td>
        <td>{{center.centerAddress}}</td>

        <td *ngIf='(centerId==null) else goback'>
            <input type="submit" value="Select" (click)="selectCenter(center)"></td>
        <ng-template #goback><td><input type="submit" value="Change Center" (click)="changeCenter()"></td></ng-template>
    </tr>
</table> 

<table border="1" *ngIf='(testList != null)'>
        <tr>
                <th>test Id</th>
                <th>Test Name</th>
                <th></th>
               
      
        </tr>
        <tr *ngFor="let test of testList">       
                <td>{{test.testId}}</td>
                <td>{{test.testName}}</td>
               
            <td *ngIf='(testId==null) else goback'>
                    <input type="submit" value="Delete" (click)="delete(test)"></td>
                <ng-template #goback><td><input type="submit" value="Confirm delete?" (click)="confirmDelete()"></td></ng-template>
        </tr>
    </table> 
    
    <ng-template #noTests [ngIf]="(centerId != null) && (testList == null)">Sorry, no test present in this center</ng-template>